
  h1 {
      text-align: center;
  }

  .listCards {
    justify-content: center;   
    display:"flex";
    flex-wrap: wrap;
    width:100%
  }

  .listrooms{
    display: inline;
    float: left;
    min-width: 200px;
    min-height: 100px;
    width: calc(100%/6);
    border-style: solid;
    border-color: darkgray;
    font-weight: bold;
  
  }

  @media screen and (max-width: 600px) {
   
    .listrooms{
      width: 100%;
    }
  }

  .roomcard:hover {
      transform: scale(1.05);
      box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
  }

  .cardheader {
    color: black;
    font-weight: bold;
    font-style:italic;
  }

  .tempvalue {
    color: black;
    font-weight: bold;
  }

